body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0; /* Убираем отступы по умолчанию */
}

h1 {
    color: #ff6347; /* Цвет заголовка */
}

.fox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Отступ сверху и снизу */
}

img {
    width: 150px; /* Размер лисы */
    cursor: pointer; /* Курсор при наведении на изображение */
    border-radius: 10px; /* Скругленные углы */
    transition: transform 0.1s; /* Плавный переход при клике */
}

img:active {
    transform: scale(0.95); /* Уменьшение при нажатии */
}
